# ============================================
# DATABASE (RDS PostgreSQL via RDS Proxy)
# ============================================
DB_HOST=rds-proxy-ticketing.proxy-c6je40coqv2w.us-east-1.rds.amazonaws.com
DB_PORT=5432
DB_NAME=ticketing_db
DB_USER=postgres
DB_PASSWORD=your_db_password

DATABASE_URL=postgresql://postgres:your_db_password@rds-proxy-ticketing.proxy-c6je40coqv2w.us-east-1.rds.amazonaws.com:5432/ticketing_db

# ============================================
# REDIS (ElastiCache - Write to Primary only)
# ============================================
REDIS_HOST=ticketing-redis.bxzfhf.ng.0001.use1.cache.amazonaws.com
REDIS_PORT=6379

# ============================================
# AWS SQS
# ============================================
SQS_BOOKING_QUEUE_URL=https://sqs.us-east-1.amazonaws.com/196468103268/booking-queue.fifo
SQS_DLQ_URL=https://sqs.us-east-1.amazonaws.com/196468103268/checkout-dlq.fifo

# ============================================
# AWS SNS
# ============================================
SNS_OPS_TOPIC_ARN=arn:aws:sns:us-east-1:196468103268:booking-notification-topic
SNS_USER_TOPIC_ARN=arn:aws:sns:us-east-1:196468103268:booking-notification-topic-for-user

# ============================================
# AWS S3 (for e-ticket PDFs)
# ============================================
S3_BUCKET_NAME=worldcup-demo
S3_REGION=us-east-1

# ============================================
# AWS GENERAL
# ============================================
AWS_REGION=us-east-1
AWS_ACCOUNT_ID=196468103268

# ============================================
# WORKER CONFIG
# ============================================
WORKER_CONCURRENCY=5
POLL_WAIT_TIME_SECONDS=20
VISIBILITY_TIMEOUT_SECONDS=60
RESERVATION_TIMEOUT_MINUTES=10
